[submodule "mosquittomainloop"]
	path = subprojects/mosquitto_glib
	url = https://github.com/fifteenhex/mosquittomainloop.git
[submodule "json-glib-macros"]
	path = json-glib-macros
	url = https://github.com/fifteenhex/json-glib-macros.git
[submodule "subprojects/liblorawan"]
	path = subprojects/liblorawan
	url = https://github.com/fifteenhex/liblorawan.git
[submodule "codegen"]
	path = codegen
	url = https://github.com/fifteenhex/codegen.git
