Source: tlwbe
Section: unknown
Priority: optional
Maintainer: Daniel Palmer <daniel@0x0f.com>
Build-Depends: debhelper (>=10), libjson-glib-dev, libsqlite3-dev, libssl-dev, libmosquitto-dev, python3-pycparser
Standards-Version: 4.0.0
Homepage: https://github.com/fifteenhex/tlwbe

Package: tlwbe
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: tiny LoRaWAN backend
 A small, incomplete, buggy etc LoRaWAN backend
